body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    border-radius: 8px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    text-align: left;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px); /* Adjust width to fit padding and border */
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
p {
    margin-top: 10px;
}
a {
    color: #4CAF50;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.hidden {
    display: none;
}